div.steps
	span.valueDescription Today you need to walk
	span.value= averageSteps+1
	span.valueDescription steps to beat your average

div.streak
	span.valueDescription You've beaten your average
	span.value= streak
	span.valueDescription days in a row