div.calories
	span.valueDescription Today you need to burn
	span.value= averageCalories+1
	span.valueDescription calories to beat your average

div.streak
	span.valueDescription You've beaten your average
	span.value= streak
	span.valueDescription days in a row