body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
	
.streak, .steps {
	width: 350px;
	text-align: center;
	display: inline-block;
}
span.value {
	font-size: 50px;
	font-weight: bold;
}
span.valueDescription {
	font-size: 20px;
	color: gray;
	display: block;
}